body.deck_page {
  width: 100vw;
  min-height: 100vh;
  background-color: #fafdd6;
}

div.deck_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

div.exit {
  position: absolute;
  top: 10px;
  left: 30px;
}

div.exit button {
  color: white;
  background-color: #dd0303;
  border: 1px solid black;
  border-radius: 12px;
  padding: 6px;
  transition: transform 0.3s ease-in-out;
}

div.exit button:hover {
  transform: translateX(-3px);
}

div.deck_step1 {
  width: 40vw;
  min-height: 60vh;
  border: 2px solid black;
  border-radius: 24px;
  box-shadow: 2px 3px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
  background-color: #aed6cf;
  padding: 30px;
}

div.deck_step1_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

div.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}

span.tag {
  background-color: #e0f0ff;
  color: #0366d6;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}

div.deck_step1_btn {
  width: 40%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.deck_step2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 40vw;
  height: 60vh;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 24px;
  box-shadow: 2px 3px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  background-color: #aed6cf;
  position: relative;
  padding: 30px;
}

div.no {
  position: absolute;
  top: 20px;
  right: 30px;
}

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

div.buttons button {
  background-color: #9cafaa;
  border: 2px solid black;
  border-radius: 12px;
  padding: 6px;
  transition: transform 0.3s ease-in-out;
}

div.buttons button:hover {
  transform: scale(1.05);
  background-color: #a7e399;
}
