* {
  box-sizing: border-box;
}
body {
  background-color: #9ec6f3;
  margin: 0px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 5px 8px;
  height: 30px;
  background-color: #9fb3df;
  box-shadow: 1px 1px 3px black;
}

.home-container .left {
  justify-content: start;
}

.home-container .right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

a.link {
  text-decoration: none;
  color: #320a6b;
  font-size: large;
  font-weight: bold;
}
