div.navbar-container {
  width: 100vw;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: bisque;
}

div.navbar-container > div.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}

div.navbar-container > div.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  gap: 60px;
}

a.link {
  text-decoration: none;
  color: #320a6b;
  font-size: large;
  font-weight: bold;
}
